# Camera setup:
set cam_ip = "http://192.168.0.101:88"		# IP:port of the camera web interface
set cam_usr = "admin"						# Camera username
set cam_pwd = "password"					# Camera password
set cam_alarm1 = "motionDetectAlarm"		# Comment out that line if you don't want to have alarm1 (motionDetectAlarm) enabled
set cam_alarm2 = "soundAlarm"				# Comment out that line if you don't want to have alarm2 (soundAlarm) enabled
set cam_alarm_timer = "1"					# How often in seconds to check the camera for new alarms

# Shinobi setup:
set shi_ip = "http://192.168.0.100:8080"		# Shinobi web interface
set shi_cam = "Gevu1tX3Eb"						# Monitor name
set shi_apikey = "yourapikey"					# API Key ID
set shi_grp = "yourgroupid"						# Group ID
# Trigger setup (will be passed to the Shinobi API):
set trig_camera = "Camera1"				# Camera name
set trig_zone = "PIR"					# Trigger zone (door,window,etc.) ; You can leave the default
set trig_confidence = "200"				# Trigger confidence ; You can leave the default
